# Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
Data_list=['skills',[1,2,3,4],7.0,(2,4,6)]

In [2]:
Data_list

['skills', [1, 2, 3, 4], 7.0, (2, 4, 6)]

In [3]:
type(Data_list)

list

# Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.



ANSWER->
(i) Var1='' -> Str
(ii) var2 = ‘[ DS , ML , Python]’  -> Str
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]  -> list
(iv) var4 = 1   -> int

# Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **


Answer->
(i) /     -> Divisio operator Divides the First Number with Second Number and returns Result in  Float.
(ii) %    -> Modulus Operator Divides the First Number with secodn Number and Returns the Remainder.
(iii) //  -> Division Operator Divides the FIrst Number with Second Number and returns the floor value of the result.
(iv) **   ->This operator Returns the result as first number raised to the power  of second number.

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [12]:


list_mul_type=['1',1,2.0,'skills','s',4,8,'2.0',9,3]

for i in list_mul_type:
    print(str(i) + '-->' + str(type(i)))

1--><class 'str'>
1--><class 'int'>
2.0--><class 'float'>
skills--><class 'str'>
s--><class 'str'>
4--><class 'int'>
8--><class 'int'>
2.0--><class 'str'>
9--><class 'int'>
3--><class 'int'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [4]:


A=16
B=4
counter=0
while(A>B):
    if(A%B==0):
        print(A//B)
        A=A//B

4

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [7]:


list_int=[3,5,3,45,4,2,3,4,6,76,8,7,676,55,34,32,33,45,67,89,9,556,444,345,444]
#len(list_int)
for i in list_int:
    if(i%3==0):
        print(str(i)+"-->"+" Divisible by 3")
    else:
        print(str(i)+"-->"+"Not Divisible by 3")

3--> Divisible by 3
5-->Not Divisible by 3
3--> Divisible by 3
45--> Divisible by 3
4-->Not Divisible by 3
2-->Not Divisible by 3
3--> Divisible by 3
4-->Not Divisible by 3
6--> Divisible by 3
76-->Not Divisible by 3
8-->Not Divisible by 3
7-->Not Divisible by 3
676-->Not Divisible by 3
55-->Not Divisible by 3
34-->Not Divisible by 3
32-->Not Divisible by 3
33--> Divisible by 3
45--> Divisible by 3
67-->Not Divisible by 3
89-->Not Divisible by 3
9--> Divisible by 3
556-->Not Divisible by 3
444--> Divisible by 3
345--> Divisible by 3
444--> Divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.


#Answer:-

Mutable-->Data type which allows to change its value once its created.for Example, list Data Type

In [8]:
Var=[1,100,345,343]

In [9]:
Var[2]=400
Var

[1, 100, 400, 343]

Here Value at index 2 in list Var is updated as 400.

IMMUTABLE  -> Data tyep which does not alows to changes its Value once its Created. for Example, tuple, string.

In [10]:
Var_str= "skills"

In [11]:
Var_str[3]='f'

TypeError: 'str' object does not support item assignment

the Variable Var_str is type of string Data type, when tried to Change value at index 3 it throws error.