## Q1. What is a database? Differentiate between SQL and NoSQL databases.

--A database is a structured collection of data organized for efficient storage, retrieval, and management. It serves as a central repository for storing and managing large volumes of information, making it easier to perform operations like querying, updating, and analyzing the data.

#### Differentiating SQL and NoSQL Databases:
1. Relational Structure: SQL (Structured Query Language) databases are based on a relational data model, where data is organized into tables with rows and columns. Each table has a predefined schema that defines the structure of the data. where as NoSQL databases are designed for non-relational or distributed data storage. They offer more flexibility in terms of data models, allowing for documents, key-value pairs, wide-column stores, or graph databases.

2. Compliance: SQL databases are known for their strict adherence to the ACID properties (Atomicity, Consistency, Isolation, Durability). Whereas NoSQL databases are often associated with the BASE (Basically Available, Soft state, Eventually consistent) model, which prioritizes availability and partition tolerance over strict consistency.

3. Schema: SQL databases require a predefined schema means we need to define the structure of your data (table schema) before inserting data. whereas NoSQL databases are typically schema-less, which means we can insert data without defining a rigid schema in advance.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

--DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that deals with the definition and structure of database objects. DDL statements are used to create, modify, and delete database objects

1. CREATE: The CREATE statement is used to create new database objects such as tables, indexes, views, and databases. It specifies the structure and attributes of the object being created.

    CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT
);

2. DROP: The DROP statement is used to delete database objects. When we no longer need a table, index, or any other database object, ywe can use DROP to remove it from the database.

DROP TABLE Employees;


3. ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or indexes.

ALTER TABLE Employees
ADD Email VARCHAR(100);


4. TRUNCATE: The TRUNCATE statement is used to quickly remove all rows from a table while keeping the table structure intact.

TRUNCATE TABLE Employees;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

--DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used for manipulating data stored in a database. 

1. INSERT: The INSERT statement is used to add new records into a table. You can use it to specify values for each column, and the data will be inserted into the specified table.

INSERT INTO Employees (EmployeeID, FirstName, LastName, Age)
VALUES (1, 'Abhyuday', 'Kumar', 30);


2. UPDATE: The UPDATE statement is used to modify existing records in a table.

UPDATE Employees
SET Age = 31
WHERE EmployeeID = 1;

3. DELETE: The DELETE statement is used to remove one or more records from a table based on a specified condition. It permanently deletes data from the table

DELETE FROM Employees
WHERE EmployeeID = 1;

## Q4. What is DQL? Explain SELECT with an example.

--DQL (Data Query Language) is a subset of SQL (Structured Query Language) used for retrieving data from a database. DQL is primarily focused on querying and retrieving data from database tables.

SELECT Statement:
The SELECT statement is used to query data from one or more tables. It allows you to specify which columns you want to retrieve, the table(s) from which to retrieve the data, and optional conditions for filtering the data

for example:-
SELECT FirstName, LastName, Age
FROM Employees;

## Q5. Explain Primary Key and Foreign Key.

### Primary Key :-
-->A Primary Key is a field or combination of fields in a database table that uniquely identifies each record or row in that table.
-->A primary key must contain unique values for each record in the table. No two records can have the same primary key value

### Foreign Key :-
-->A Foreign Key is a field or set of fields in a database table that is used to establish a link between two tables based on the values they contain.  
-->A foreign key typically references the primary key of another table, creating a relationship between the two tables.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("Select * from test.Employees")

### Cursor:-
 A cursor is an object that allows you to interact with the database. we can create a cursor using connection.cursor().
 
 ### Execute:-
 we can use the execute() method of the cursor to execute an SQL query.

### Q7. Give the order of execution of SQL clauses in an SQL query.

--In an SQL query, the clauses are generally executed in a specific order. The order of execution of SQL clauses is as follows:

1. FROM: The FROM clause specifies the table or tables from which the data will be retrieved. This clause is executed first to determine the source of the data.

2. WHERE: The WHERE clause is used to filter the rows from the tables specified in the FROM clause.

3. GROUP BY: The GROUP BY clause is used to group rows with similar values in one or more columns into summary rows. 
4. HAVING: The HAVING clause is used to filter the groups produced by the GROUP BY clause based on aggregate function results.
5. SELECT: The SELECT clause specifies the columns that will be included in the result set.
6. ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns.