## Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

data=[1,2,3,4,5,6,7,8,9,0,3]
df=pd.DataFrame(data)

In [2]:
#1.head()

df.head()

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
#2 tail()
df.tail()

    0
6   7
7   8
8   9
9   0
10  3

In [4]:
# 3. describe()
df.describe()

               0
count  11.000000
mean    4.363636
std     2.907670
min     0.000000
25%     2.500000
50%     4.000000
75%     6.500000
max     9.000000

In [5]:
#4 loc
df.loc[2:6]

   0
2  3
3  4
4  5
5  6
6  7

In [6]:
#5 sort_values
df.sort_values(0)

    0
9   0
0   1
1   2
2   3
10  3
3   4
4   5
5   6
6   7
7   8
8   9

## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [7]:
def reset_index_with_increment(df):
    df_reset=df.reset_index(drop=True)
    new_index=pd.Index(range(1,2*len(df_reset),2),name='new_index')
    
    df_reset.index=new_index
    return df_reset

In [8]:
data1=[1,2,3,4,5,6,7,8,9,0]
data1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [9]:
data1=pd.DataFrame(data1)
data1

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9
9  0

In [10]:
resetted_data = reset_index_with_increment(data1)

In [11]:
resetted_data

           0
new_index
1          1
3          2
5          3
7          4
9          5
11         6
13         7
15         8
17         9
19         0

## Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [12]:
def first_3_sum(df):
    sum=0
    for i in df['Values'].loc[:2]:
        sum += i
        
    print(sum)

In [13]:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

In [14]:
first_3_sum(df)

60

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [15]:
def word_count(Text):
    words=Text.split()
    return len(words)

In [16]:
data = {'Text': ['This is a sample sentence.', 'Another example.', 'Short text.']}
df = pd.DataFrame(data)

df['word_count']=df['Text'].apply(word_count)

In [18]:
df

                         Text  word_count
0  This is a sample sentence.           5
1            Another example.           2
2                 Short text.           2

## Q5. How are DataFrame.size() and DataFrame.shape() different?

1. DataFrame.size:

DataFrame.size returns the total number of elements in the DataFrame, which is calculated as the product of the number of rows and the number of columns.

2. DataFrame.shape:

DataFrame.shape returns a tuple that contains two values: the number of rows and the number of columns in the DataFrame.

## Q6. Which function of pandas do we use to read an excel file?

--read_excel()

## Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [21]:
def extract_user(Email):
    return Email.split('@')[0]

data = {'Email': ['user1@example.com', 'user2@example.com', 'user.3@example.com']}
df = pd.DataFrame(data)

df['Username']=df['Email'].apply(extract_user)

In [22]:
df

                Email Username
0   user1@example.com    user1
1   user2@example.com    user2
2  user.3@example.com   user.3

## Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [23]:
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

In [26]:
def rows_selection(df):
    selected_rows=df[(df['A']>5) & (df['B'] <10)]
    return selected_rows

rows_selection(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [27]:
def calculateStats(df):
    mean=df['Values'].mean()
    median=df['Values'].median()
    std=df['Values'].std()
    
    return mean,median,std

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

mean,median,std=calculateStats(df)

In [29]:
print("mean", mean)
print("median",median)
print("std",std)

mean 30.0
median 30.0
std 15.811388300841896

## Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [36]:
def movingAverage(df,window_size):
    df['Date'] = pd.to_datetime(df['Date'])
    df.sort_values(by='Date',inplace=True)
    
    df['Moving_Average']=df['Sales'].rolling(window=window_size,min_periods=1).mean()
    
    return df

In [37]:
data = {'Date': ['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07'],
        'Sales': [100, 150, 200, 250, 300, 350, 400]}
df = pd.DataFrame(data)

In [38]:
movingAverage(df,7)

        Date  Sales  Moving_Average
0 2023-09-01    100           100.0
1 2023-09-02    150           125.0
2 2023-09-03    200           150.0
3 2023-09-04    250           175.0
4 2023-09-05    300           200.0
5 2023-09-06    350           225.0
6 2023-09-07    400           250.0

## Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [42]:
def weekDays(df):
    df['Date']=pd.to_datetime(df['Date'])
    
    df['Weekday']=df['Date'].dt.day_name()
    return df

In [43]:
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

weekDays(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

## Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [48]:
def rowsByDate(df,startDate, endDate):
    df['Date']=pd.to_datetime(df['Date'])
    selectedRows=df[(df['Date']>=startDate) & (df['Date']>=endDate)]
    return selectedRows

In [49]:
data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-30', '2023-02-05', '2023-02-20']}
df = pd.DataFrame(data)

rowsByDate(df,'2023-01-01', '2023-01-31')

        Date
3 2023-02-05
4 2023-02-20

## Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

-- Pandas Libray needs to be imported first

import pandas as pd